<?xml version="1.0"?>
<robot name="qube" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find qube_description)/urdf/qube.macro.xacro"/>
  <xacro:include filename="$(find qube_driver)/ros2_control/qube_driver.ros2_control.xacro"/>
  <xacro:arg name="baud_rate" default="115200"/>
  <xacro:arg name="device" default="/dev/ttyUSB0"/>
  <xacro:arg name="simulation" default="false"/>
  <link name="world"/>
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <xacro:qube prefix=""/>
  <xacro:qube_driver_ros2_control prefix="" name="qube_driver" baud_rate="$(arg baud_rate)" device="$(arg device)" simulation="$(arg simulation)"/>
</robot>